.icon-360-degrees {
	background: url("sprite.vertical.svg") 0 0 no-repeat;
	width: 30px;
	height: 30px;
}

.icon-arrow-dropdown {
	background: url("sprite.vertical.svg") 0 2.4934754060209117% no-repeat;
	width: 22.7px;
	height: 16.86px;
}

.icon-arrow-hexagon {
	background: url("sprite.vertical.svg") 0 4.0905846925098786% no-repeat;
	width: 63px;
	height: 71.02px;
}

.icon-arrow-hexagon-ghost {
	background: url("sprite.vertical.svg") 0 10.357012306567563% no-repeat;
	width: 63px;
	height: 71.02px;
}

.icon-arrow-hexagon-ghost-hover {
	background: url("sprite.vertical.svg") 0 16.62343992062525% no-repeat;
	width: 63px;
	height: 71.02px;
}

.icon-arrow-hexagon-red {
	background: url("sprite.vertical.svg") 0 22.889867534682935% no-repeat;
	width: 63px;
	height: 71.02px;
}

.icon-arrow-medium {
	background: url("sprite.vertical.svg") 0 28.257403861564026% no-repeat;
	width: 23.27px;
	height: 34.47px;
}

.icon-arrow-small {
	background: url("sprite.vertical.svg") 0 30.906995004761345% no-repeat;
	width: 17.66px;
	height: 22.86px;
}

.icon-close {
	background: url("sprite.vertical.svg") 0 33.07858056696519% no-repeat;
	width: 31.92px;
	height: 31.92px;
}

.icon-eye {
	background: url("sprite.vertical.svg") 0 35.83473861720068% no-repeat;
	width: 34px;
	height: 34px;
}

.icon-facebook {
	background: url("sprite.vertical.svg") 0 38.44221105527638% no-repeat;
	width: 19.23px;
	height: 26px;
}

.icon-fb-hexagon {
	background: url("sprite.vertical.svg") 0 41.18231453098863% no-repeat;
	width: 38px;
	height: 42.31px;
}

.icon-fb-hexagon-grey {
	background: url("sprite.vertical.svg") 0 44.83353004610721% no-repeat;
	width: 38px;
	height: 42.31px;
}

.icon-ig-hexagon {
	background: url("sprite.vertical.svg") 0 48.484745561225786% no-repeat;
	width: 38px;
	height: 42.31px;
}

.icon-ig-hexagon-grey {
	background: url("sprite.vertical.svg") 0 52.135961076344365% no-repeat;
	width: 38px;
	height: 42.31px;
}

.icon-line {
	background: url("sprite.vertical.svg") 0 55.02512562814071% no-repeat;
	width: 26.7px;
	height: 26px;
}

.icon-link {
	background: url("sprite.vertical.svg") 0 57.20268006700167% no-repeat;
	width: 26px;
	height: 26px;
}

.icon-minus {
	background: url("sprite.vertical.svg") 0 60.033869602032176% no-repeat;
	width: 39px;
	height: 39px;
}

.icon-play {
	background: url("sprite.vertical.svg") 0 64.49443433725071% no-repeat;
	width: 93.16px;
	height: 60.21px;
}

.icon-play-red {
	background: url("sprite.vertical.svg") 0 69.75400719095698% no-repeat;
	width: 93.16px;
	height: 60.21px;
}

.icon-plus {
	background: url("sprite.vertical.svg") 0 73.66638441998306% no-repeat;
	width: 39px;
	height: 39px;
}

.icon-search {
	background: url("sprite.vertical.svg") 0 76.4186633039092% no-repeat;
	width: 30.55px;
	height: 30.5px;
}

.icon-telegram {
	background: url("sprite.vertical.svg") 0 78.72696817420436% no-repeat;
	width: 29.2px;
	height: 26px;
}

.icon-twitter {
	background: url("sprite.vertical.svg") 0 80.90452261306532% no-repeat;
	width: 29.24px;
	height: 26px;
}

.icon-twitter-hexagon {
	background: url("sprite.vertical.svg") 0 84.2326928138984% no-repeat;
	width: 38px;
	height: 42.31px;
}

.icon-twitter-hexagon-grey {
	background: url("sprite.vertical.svg") 0 87.88390832901698% no-repeat;
	width: 38px;
	height: 42.31px;
}

.icon-user {
	background: url("sprite.vertical.svg") 0 90.57757910834019% no-repeat;
	width: 29.86px;
	height: 29.86px;
}

.icon-whatsapp {
	background: url("sprite.vertical.svg") 0 92.79731993299832% no-repeat;
	width: 25.92px;
	height: 26px;
}

.icon-yt-hexagon {
	background: url("sprite.vertical.svg") 0 96.29019521266207% no-repeat;
	width: 38px;
	height: 42.31px;
}

.icon-yt-hexagon-grey {
	background: url("sprite.vertical.svg") 0 99.94141072778065% no-repeat;
	width: 38px;
	height: 42.31px;
}

